.skills-marquee-container {
    position: relative;
    height: 100px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .skills-marquee {
    display: flex;
    flex-direction: column;
    animation: marquee 6s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  